DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mmmk?schema=public"

AUTHSCH_CLIENT_ID="<your_authsch_client_id>"
AUTHSCH_CLIENT_SECRET="<your_authsch_client_secret>"
JWT_SECRET="this is a secret"
FRONTEND_URL="http://localhost:3000"
BACKEND_PORT=3030

PEK_GROUP_NAME="Muzsika mívelő mérnökök klubja"
PEK_MEMBER_TITLE="tag"
PEK_NEWBIE_TITLE="újonc"
PEK_GATEKEEPER_TITLE="beengedő"

FRONTEND_CALLBACK_URL="http://localhost:3000/callback"
